@(token: String)(wrongPass:Boolean)(longer:Boolean)(ok:Boolean)


<!DOCTYPE html>

@meta = {
	<meta name="description" content="@Messages("wimha.pv")">
	<meta property="og:description" content="@Messages("wimha.pv")">
	<meta property="og:title" content="@Messages("wimha.catchLine")">
	<meta property="og:url" content="https://www.wimha.com">
	<meta property="og:image" content="https://wimha.com/assets/images/totemPage/totem-doble.png">
}
@css = {
	<!-- Imported CSS -->
	<link href="@routes.Assets.versioned("stylesheets/totem/designr-theme-cyan.css")" rel="stylesheet">
	<!-- FONT -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
}
	
@javascript = {
<script src="@routes.Assets.versioned("javascripts/user/resetPW.js")" type="text/javascript"></script>
<script type="text/javascript">

var url = '/resetPasswordSubmit/@token';

</script>

}

@main(Messages("header.settings"))(meta)(css)(javascript)("resetPasswordPage"){
	
	@header(null)("/")("")


	<section  id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

					<form action="/resetPasswordSubmit/@token" method="POST" class="contact-form">

					</br></br>
                        <div class="form-group">
                            <label class="control-label" for="contact-password">@Messages("input.label.password")</label>
                            <div class=" controls">
                                <i class="fa fa-lock"></i>
                                <input id="contact-password" name="newPassword" placeholder="@Messages("input.ph.newPassword")" class="form-control input-lg requiredField" type="password" data-error-empty="@Messages("error.password.empty")" data-error-invalid="@Messages("error.password.invalid")">
                            </div>
                            <div class="error-message js_error_pw" style="display:none;">@Messages("error.password.empty")</div>
                        </div><!-- End password input -->

                        <div class="form-group">
                            <label class="control-label" for="contact-password">@Messages("input.label.password")</label>
                            <div class=" controls">
                                <i class="fa fa-lock"></i>
                                <input id="contact-password" name="confirmNewPassword" placeholder="@Messages("input.ph.confirmPassword")" class="form-control input-lg requiredField" type="password" data-error-empty="@Messages("error.password.empty")" data-error-invalid="@Messages("error.password.invalid")">
                            </div>
                            <div class="error-message js_error_pw_confirm" style="display:none;">@Messages("error.password.empty")</div>
                        </div><!-- End password input -->




                        <p class="">
							<button type="button" class="btn-theme btn-lg js_btnSubmit" data-error-message="@Messages("button.status.error")" data-sending-message="@Messages("button.status.sending")" data-ok-message="@Messages("button.status.ok")">@Messages("button.save")</button>
						</p>												
					</form>
				</div><!-- End contact-form -->	  
			</div><!-- End row -->		
		</div><!-- End container -->	
	</section><!-- End contact section -->

}
