@(message:String)
<!DOCTYPE html>

<html>
<head>
<!-- Google Chrome Frame support -->
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Building</title>

  
<style type="text/css" translate="none"> 

body{
  padding-top: 50px;
  background-color: rgb(247,199,76);
  text-align: center;
}

a {
  font-size: 30px;
  text-decoration: none;
}

  
</style>

@minified=@{ if (play.Play.isProd()) ".min" else "" }
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/twitterbootstrap/styles"+ minified + ".css")">
 <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32362359-1']);
    _gaq.push(['_setDomainName', 'wimha.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>
<body>  
        <img src="@routes.Assets.versioned("images/brokenPage.png")"/>
        @if(message!=null && !message.isEmpty()){
          <h1> @message</h1>
        }else{
          <h1> @Messages("error.500.1")</h1>
          <h1> @Messages("error.500.2")</h1>
          <h1>@Messages("error.500.3")</h1>
        }
        <a href="http://wimha.com">Back to wimha.com</a>
</body>
</html>
