/* General styles for all menus */
.cbp-spmenu {
	background: #191918;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #191918;
}

.cbp-spmenu a {
	display: block;
	color: rgba(255,255,255,0.65);
	font-size: 1.1em;
	font-weight: 300;
	text-decoration: none;
}

.cbp-spmenu a:hover {
	color: white;
	font-weight: 500;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}


.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}



/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	//position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){


	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

// This is only for mobiles because of the map that doesn't work with this property

@media (max-width: 767px) {
	.cbp-spmenu-push {
		position: relative;
	}
}