<!-- Footer starts -->
<footer class="relative">
	<div class="container centered" style="padding-bottom: 40px">			
		<div class="row">
			<div class="col-md-6">
				<div class="footer-link">
					<h5>@Messages("social.facebook.page")</h5>
					<a href="https://www.facebook.com/wimha" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="footer-link">
					<h5>@Messages("social.twitter.page")</h5>
					<a href="https://twitter.com/wimha" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
				</div>
			</div>
		</div>
<hr>
		<div class="col-md-8">
			<div class="copy text-center">
				&copy; 2014 <a href="#">Wimha</a> - Designed <a href="#">with love in Toulouse, France.</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="text-center">
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics"/></a>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Ends -->