
<!-- Testimonials Starts -->

<div id="testimonials" class="testimonials block visible-lg visible-md">
    <div class="container">
        <div class="page-title christmas text-center">
            <h3>@Messages("christmas.travelers")</h3>
            <p>@Messages("hp.headLine.testimonial")</p>
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,h_150,w_150/v1412614680/27bbcf70-cc9e-4b30-b437-373571487a70.jpeg" />
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p><strong>Simon :</strong> @Messages("christmas.simon")</p>
                                    <a href="https://wimha.com/mytotempage/shaka" class="btn btn-danger callToAction">@Messages("callToAction.haveALook")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,h_150,w_150/v1407377936/c91686a0-7d27-4d03-8c56-3428d5978ca4.jpeg" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p><strong>Jules :</strong> @Messages("christmas.jules")</p>
                                    <a href="https://wimha.com/mytotempage/michel" class="btn btn-danger callToAction">@Messages("callToAction.haveALook")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,w_150,h_150/v1395249660/57d04e39-02d8-46b9-bef0-43e6d46121a3.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p><strong>Bruno :</strong> @Messages("christmas.bruno")</p>
                                    <a href="http://wimha.com/mytotempage/tomate" class="btn btn-danger callToAction">@Messages("callToAction.haveALook")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,w_150,h_150/v1409910304/b988b9ed-f420-4502-ae25-1edc7b78bb68.jpeg" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p><strong>Ruedy :</strong> @Messages("christmas.ruedy")</p>
                                    <a href="http://wimha.com/mytotempage/ruedy" class="btn btn-danger callToAction">@Messages("callToAction.haveALook")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#carousel-example-generic" data-slide="prev">
            <span class="fa fa-chevron-left larrow"></span>
        </a>&nbsp;
        <a href="#carousel-example-generic" data-slide="next">
            <span class="fa fa-chevron-right rarrow"></span>
        </a>
    </div>
</div>

<!-- Testimonial Ends -->


<!-- Pricing Starts -->

<div id="totemfamily" class="features relative pd-top-50">
<div class="container">
<div class="page-title christmas text-center">
    <h3>14,90€ / totem</h3>
    <p>@Messages("christmas.handmade")</p>
    <img src="@Messages("christmas.handmade.picture2")" style="position:absolute;top:40px;right:40px;" class="visible-lg visible-md visible-sm"/>
</div>

<div class="row">
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034157/Static%20Pictures/AutumnTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.AutumnTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.AutumnTot.intro")<a href="@Messages("totemfamily.citation.1")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/0Boqg-autumntot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="0Boqg">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
@*
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1402478102/Static%20Pictures/BlablaTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.CovoitTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.CovoitTot.intro")<a href="@Messages("totemfamily.citation.1")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="https://www.shoplocket.com/products/6LX4m-covoituragetot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="6LX4m">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/v1394034157/Static%20Pictures/FrenchTechTot200.png">
        <hr>
        <h3 class="name-totem">FrenchTechTot</h3>
        <p class="intro-totem">The "French Tech" gathers all talented people who build the digital French scene<a href="http://ctt.ec/VdQPZ" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="QX5t2" href="https://www.shoplocket.com/products/QX5t2-frenchtechtot/buy"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
*@
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034157/Static%20Pictures/BuddhaTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.BuddhaTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.BuddhaTot.intro")<a href="@Messages("totemfamily.citation.2")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="https://www.shoplocket.com/products/NULD5-buddhatot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="NULD5"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034158/Static%20Pictures/DurtyTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.DurtyTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.DurtyTot.intro")<a href="@Messages("totemfamily.citation.3")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/ZJn19-durtytot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="ZJn19"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/GardenTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.GardenTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.GardenTot.intro")<a href="@Messages("totemfamily.citation.4")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/ABOaa-gardentot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="ABOaa"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/HollandTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.HollandTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.HollandTot.intro")
            <a href="@Messages("totemfamily.citation.5")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/WeNhF-hollandtot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="WeNhF">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/HoneyTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.HoneyTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.HoneyTot.intro")
            <a href="@Messages("totemfamily.citation.6")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/UdfJJ-honeytot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="UdfJJ">@Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034158/Static%20Pictures/NakedTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.NakedTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.NakedTot.intro")
            <a href="@Messages("totemfamily.citation.7")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/wzc24-nakedtot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="wzc24">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034157/Static%20Pictures/OddenTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.OddenTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.OddenTot.intro")
            <a href="@Messages("totemfamily.citation.8")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/0MeZX-oddenttot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="0MeZX"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034158/Static%20Pictures/PlayTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.Playtot")</h3>
        <p class="intro-totem">@Messages("totemfamily.Playtot.intro")
            <a href="@Messages("totemfamily.citation.9")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/e7j5G-playtot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="e7j5G">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/SandyTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.SandyTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.SandyTot.intro")
            <a href="@Messages("totemfamily.citation.10")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/ybG87-sandytot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="ybG87"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034158/Static%20Pictures/SummerTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.SummerTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.SummerTot.intro")
            <a href="@Messages("totemfamily.citation.11")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/xxpoD-summertot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="xxpoD">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034157/Static%20Pictures/UrbanTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.urbanTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.urbanTot.intro")
            <a href="@Messages("totemfamily.citation.2")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/XQv1X-urbantot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="XQv1X"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/VentanaTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.VentanaTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.VentanaTot.intro")
            <a href="@Messages("totemfamily.citation.13")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/OZCXx-ventanatot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="OZCXx">  @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034157/Static%20Pictures/FunkyTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.FunkyTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.FunkyTot.intro")
            <a href="@Messages("totemfamily.citation.14")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/LoRg2-funkytot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="LoRg2"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034156/Static%20Pictures/SofiaTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.SofiaTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.SofiaTot.intro")
            <a href="@Messages("totemfamily.citation.15")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/i8RDX-sofiatot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="i8RDX"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 totemBlock">
    <div class="feat shots shots-padding-0">
        <img class="img-responsive totemPicCentered" src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1394034158/Static%20Pictures/ColeTot200.png">
        <hr>
        <h3 class="name-totem">@Messages("totemfamily.ColeTot")</h3>
        <p class="intro-totem">@Messages("totemfamily.ColeTot.intro")
            <a href="@Messages("totemfamily.citation.16")" Target= "_blank"> <i class="fa fa-twitter"></i></a></p>
        <hr>
        <div class="">
            <div class="shotcontent centered">
                <a href="http://www.shoplocket.com/products/JHmF0-coletot/buy" class="shoplocket-checkout download download-christmas js_mp_buy" data-shoplocket-product-token="JHmF0"> @Messages("button.offer")</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- Pricing Ends -->


<!-- Gallery Starts -->

<div id="gallery" class="gallery block">
    <div class="container">
        <div class="page-title christmas text-center">
            <h3>@Messages("hp.title.gallery")</h3>
            <p>@Messages("hp.headLine.gallery")</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Gallery Item -->
                <div class="gallery-item">
                    <!-- Gallery Image -->
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765354/Static%20Pictures/galleryHP/IMG_0808.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765354/Static%20Pictures/galleryHP/IMG_0808.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <!-- Gallery Content -->
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.1")</a></h4>
                        <p>@Messages("hp.gallery.text.1")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765353/Static%20Pictures/galleryHP/Photo_23-10-2013_17_19_48.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765353/Static%20Pictures/galleryHP/Photo_23-10-2013_17_19_48.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.2")</a></h4>
                        <p>@Messages("hp.gallery.text.2")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765477/Static%20Pictures/galleryHP/IMG_0766.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765477/Static%20Pictures/galleryHP/IMG_0766.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.3")</a></h4>
                        <p>@Messages("hp.gallery.text.3")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765352/Static%20Pictures/galleryHP/10330301_652562368148187_5709570799354799183_n.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765352/Static%20Pictures/galleryHP/10330301_652562368148187_5709570799354799183_n.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.4")</a></h4>
                        <p>@Messages("hp.gallery.text.4")</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765352/Static%20Pictures/galleryHP/10471512_675096342561456_1777352844861594303_n.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765352/Static%20Pictures/galleryHP/10471512_675096342561456_1777352844861594303_n.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.5")</a></h4>
                        <p>@Messages("hp.gallery.text.5")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1407765352/Static%20Pictures/galleryHP/justedingue.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_200,w_200/v1407765352/Static%20Pictures/galleryHP/justedingue.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.6")</a></h4>
                        <p>@Messages("hp.gallery.text.6")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_200/v1407765352/Static%20Pictures/galleryHP/fleur.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_300,w_300/v1407765352/Static%20Pictures/galleryHP/fleur.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.7")</a></h4>
                        <p>@Messages("hp.gallery.text.7")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="https://res.cloudinary.com/cloudinarywimha/image/upload/h_200/v1407765352/Static%20Pictures/galleryHP/10589825_10203739909554892_599461093_n.jpg" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/c_fill,g_center,h_300,w_300/v1407765352/Static%20Pictures/galleryHP/10589825_10203739909554892_599461093_n.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4><a href="#">@Messages("hp.gallery.8")</a></h4>
                        <p>@Messages("hp.gallery.text.8")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gallery Ends -->


<div id="faq" class="shots block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title christmas text-center">
                    <h3>@Messages("totemfamily.faq.title")</h3>
                    <p>@Messages("hp.headLine.contact")</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>0. @Messages("christmas.faq")</h3>
                <p>@Messages("christmas.faq.2")</p>

                <h3>1. @Messages("totemfamily.faq.question1")</h3>
                <p>@Messages("totemfamily.faq.reponse1") </p>

                <h3>2. @Messages("totemfamily.faq.question2")</h3>
                <p>@Messages("totemfamily.faq.reponse2") </p>

                <h3>3. @Messages("totemfamily.faq.question3")</h3>
                <p>@Messages("totemfamily.faq.reponse3") </p>
                <div style="margin-top:20px;">
                    <a href="https://play.google.com/store/apps/details?id=com.wimha.app"><img alt="Get it on Google Play" src="@Messages("totemfamily.faq.android")" /></a>
                    <a href="https://itunes.apple.com/fr/app/wimha/id873048515?mt=8&uo=4" target="itunes_store"><img alt="" src="@Messages("totemfamily.faq.ios")" /></a>
                </div>

                <h3>4. @Messages("totemfamily.faq.question4")</h3>
                <p>@Messages("totemfamily.faq.reponse4") <a href="https://www.wimha.com/myTotemPage/tomate">@Messages("callTaAction.map")</a></p>

                <h3>5. @Messages("totemfamily.faq.question5")</h3>
                <p>@Messages("totemfamily.faq.reponse5")</p>

                <h3>6. @Messages("totemfamily.faq.question6")</h3>
                <p>@Messages("totemfamily.faq.reponse6")</p>

                <h3>7. @Messages("totemfamily.faq.question7")</h3>
                <p>@Messages("totemfamily.faq.reponse7")</p>
            </div>
        </div>
    </div>
</div>

<!-- Team Starts -->

<div class="team block" style="background-color:#FAFAFA;">
    <div class="container">
        <div class="page-title christmas text-center">
            <h3>@Messages("hp.title.us")</h3>
            <p>@Messages("hp.headLine.us")</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Team Item -->
                <div class="team-item">
                    <!-- Image -->
                    <a href="#"><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/h_150/v1407828048/Static%20Pictures/Bertran.jpg" alt="" class="img-responsive" /></a>
                    <!-- Name -->
                    <h3>Bertran Ruiz</h3>
                    <!-- Position -->
                    <h5>CEO</h5>
                    <!-- Paragraph -->
                    <p>@Messages("hp.us.bertran")</p>
                    <!-- Social -->
                    <div class="social">
                        <!-- Social Media Icons -->
                        <a href="https://twitter.com/bertranruiz" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://fr.linkedin.com/in/bertranruiz" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Team Item -->
                <div class="team-item">
                    <a href="#"><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/h_150/v1407828048/Static%20Pictures/Martin.jpg" alt="" class="img-responsive" /></a>
                    <h3>Martin Rallier</h3>
                    <h5>Totem father</h5>
                    <p>@Messages("hp.us.martin")</p>
                    <div class="social">
                        <a href="http://fr.linkedin.com/martin-rallier" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Team Item -->
                <div class="team-item">
                    <a href="#"><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/h_150/v1407827941/Static%20Pictures/profile2.jpg" alt="" class="img-responsive" /></a>
                    <h3>Simon Vacher</h3>
                    <h5>Product improver</h5>
                    <p>@Messages("hp.us.simon")</p>
                    <div class="social">
                        <a href="https://twitter.com/SimVchr" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="http://instagram.com/simon_vchr" class="google-plus"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/simon-vchr" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Team Item -->
                <div class="team-item">
                    <a href="#"><img src="https://res.cloudinary.com/cloudinarywimha/image/upload/h_150/v1407938972/Static%20Pictures/julien.jpg" alt="" class="img-responsive" /></a>
                    <h3>Julien Derenty</h3>
                    <h5>Backend Developper</h5>
                    <p>@Messages("hp.us.julien")</p>
                    <div class="social">
                        <a href="https://twitter.com/JulienDerenty" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/profile/view?id=99412493&authType=NAME_SEARCH&authToken=yJ0W&locale=fr_FR&trk=tyah&trkInfo=tarId%3A1407939096880%2Ctas%3Ajulien%20derenty%2Cidx%3A1-1-1" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Ends -->

<!-- Question starts -->

<div class="shots block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title christmas text-center">
                    <h3>@Messages("christmas.question")</h3>
                    <p>@Messages("christmas.question.2")</p>
                </div>
<script>
  (function() {
    var cx = '007150754662649491459:ycgp6xsi6gm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
                <gcse:search></gcse:search>


            </div>
        </div>
    </div>
</div>

<!-- Question ends -->

@footer()
