<!-- Referal modal using ouibounce -->

	<div id="ouibounce-modal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content ouibounce">
	      <div class="modal-body row">
	      	<img src="https://res.cloudinary.com/cloudinarywimha/image/upload/h_300/v1408438069/Static%20Pictures/pointer.png" class="col-md-4" style="margin-bottom:-50px;">
	      	<p class="col-md-8 white message js_ouibounce_text">Yo ! </br>
	      		@Messages("hp.modal.first") <strong>W.I.M.H.A</strong> @Messages("hp.modal.first.bis")
	      	</p>
	      </div>
	      <div class="modal-footer ouibounce js_footer">
	        <button type="button" class="btn btn-danger btn-lg js_ouibounce_close_modal" data-dismiss="modal">@Messages("button.notInterested")</button>
	        <button type="button" class="btn btn-success btn-lg js_ouibounce_yes js_mixp_modal_yes">@Messages("button.yes")</button>
	        <div class="fb-like hide" data-href="https://www.facebook.com/wimha" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="ouibounce-modal-result" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
		      <img src="https://res.cloudinary.com/cloudinarywimha/image/upload/q_70/v1408565667/Static%20Pictures/53f501605322d73809833db4.jpg" style="width:100%;height:100%;">
	          <button type="button" class="btn btn-empty btn-white btn-close-result btn-lg" data-dismiss="modal">@Messages("button.close")</button>
	    </div>
	  </div>
	</div>